{{#if isCompanion}}
<fieldset style="margin:10px 0; padding:10px;">
  <legend>Companion</legend>
  <label>
    Owner
    <input type="text" name="system.details.owner" value="{{system.details.owner}}" />
  </label>
</fieldset>
{{/if}}
