<div class="tab" data-group="primary" data-tab="combat">
  {{> "systems/thecrawl/templates/actor/parts/combat/combat-stats.hbs"}}
  {{> "systems/thecrawl/templates/actor/parts/combat/combat-monster-flags.hbs"}}

  <p style="opacity:0.8; margin:10px 0;">
    Resistances/Immunities/Vulnerabilities are stored as objects in system data and will be surfaced later.
  </p>
</div>
