<div class="tab" data-group="primary" data-tab="notes">
  <fieldset style="margin:10px 0; padding:10px;">
    <legend>Notes</legend>

    <label style="display:block; margin-bottom:10px;">
      Public
      <textarea name="system.notes.public" rows="6">{{system.notes.public}}</textarea>
    </label>

    <label style="display:block;">
      GM
      <textarea name="system.notes.gm" rows="6">{{system.notes.gm}}</textarea>
    </label>
  </fieldset>
</div>
