<nav class="sheet-tabs tabs" data-group="primary" style="margin-top:10px;">
  <a class="item" data-tab="core">Core</a>
  <a class="item" data-tab="combat">Combat</a>
  <a class="item" data-tab="abilities">Abilities</a>
  <a class="item" data-tab="notes">Notes</a>
</nav>
