<form class="thecrawl actor-sheet {{actor.type}}" autocomplete="off">
  {{> "systems/thecrawl/templates/actor/parts/header.hbs"}}

  {{> "systems/thecrawl/templates/actor/parts/tabs.hbs"}}

  <section class="sheet-body">
    {{> "systems/thecrawl/templates/actor/parts/tab-core.hbs"}}
    {{> "systems/thecrawl/templates/actor/parts/tab-combat.hbs"}}
    {{> "systems/thecrawl/templates/actor/parts/tab-abilities.hbs"}}
    {{> "systems/thecrawl/templates/actor/parts/tab-notes.hbs"}}
  </section>
</form>
