<form class="thecrawl item-sheet race-sheet" autocomplete="off">
  {{> "systems/thecrawl/templates/items/parts/race/header.hbs"}}

  <nav class="sheet-tabs tabs" data-group="primary" style="margin-top:10px;">
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="grants">Grants</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="details">
      {{> "systems/thecrawl/templates/items/parts/race/details.hbs"}}
    </div>

    <div class="tab" data-group="primary" data-tab="grants">
      {{> "systems/thecrawl/templates/items/parts/race/grants.hbs"}}
    </div>

    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/thecrawl/templates/items/parts/race/description.hbs"}}
    </div>
  </section>
</form>
