<form class="thecrawl item-sheet talent-sheet" autocomplete="off">
  {{> "systems/thecrawl/templates/item/parts/skill/header.hbs"}}

  <nav class="sheet-tabs tabs" data-group="primary" style="margin-top:10px;">
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="rules">Rules</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="details">
      {{> "systems/thecrawl/templates/items/parts/skill/details.hbs"}}
    </div>

    <div class="tab" data-group="primary" data-tab="rules">
      {{> "systems/thecrawl/templates/items/parts/skill/action.hbs"}}
      {{> "systems/thecrawl/templates/items/parts/skill/costs.hbs"}}
      {{> "systems/thecrawl/templates/items/parts/skill/scaling.hbs"}}
    </div>

    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/thecrawl/templates/items/parts/skill/description.hbs"}}
    </div>
  </section>
</form>

