.thecrawl.actor-sheet input[type="text"],
.thecrawl.actor-sheet input[type="number"],
.thecrawl.actor-sheet select,
.thecrawl.actor-sheet textarea {
  width: 100%;
  box-sizing: border-box;
}

.thecrawl.actor-sheet textarea {
  resize: vertical;
}
.thecrawl.item-sheet input[type="text"],
.thecrawl.item-sheet input[type="number"],
.thecrawl.item-sheet select,
.thecrawl.item-sheet textarea {
  width: 100%;
  box-sizing: border-box;
}

.thecrawl.item-sheet textarea {
  resize: vertical;
}

